<!DOCTYPE html>
<html>
  <head>
    <title>File Uploader</title>
  </head>
  <body>
    <h1>Давай загружай</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="text" name="first_name">
      <input type="text" name="last_name">
      <input type="text" name="first_name">
      <select name="role">
        <option value ="Employee">Employee</option>
        <option value ="Patient">Patient</option>
      </select>
      <input type="text" name="comment">
      <hr />
      <input type="file" name="uploaded_file0">
      <input type="file" name="uploaded_file1">
      <input type="file" name="uploaded_file2">
      <input type="file" name="uploaded_file3">
      <input type="file" name="uploaded_file4">
      <input type="file" name="uploaded_file5">
      <input type="file" name="uploaded_file6">
      <input type="file" name="uploaded_file7">
      <input type="file" name="uploaded_file8">
      <input type="file" name="uploaded_file9">
      <input type="submit" value="Загрузить все">
    </form>
  </body>
</html>
